langchain
python-dotenv
ipykernel
langchain_community
bs4
pypdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langsmith
langchain_groq
fastapi
uvicorn
langserve
sse-starlette
streamlit
arxiv
wikipedia
langchainhub
langsmith
langgraph
ddgs
mysql-connector-python 
sqlalchemy
pymysql
youtube-transcript-api
validators
pytube
yt-dlp
openai-whisper 
ffmpeg-python
unstructured
huggingface_hub